<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upwork</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
<div class="container">
    <nav>
        <a th:href="@{/}">home</a> -
        <a th:href="@{/titles}">titles</a>
        <hr>
    </nav>


    <div class="mb-2">
        <fieldset>
            <legend>Filters</legend>
            <div>
                <div class="mr-0 ml-0 mb-3">
                    <a th:href="@{/filter/status/new}">new</a> -
                    <a th:href="@{/filter/status/declined}">declined</a> -
                    <a th:href="@{/filter/status/interested}">interested</a> -
                    <a th:href="@{/filter/status/later}">later</a> -
                    <a th:href="@{/filter/status/applied}">applied</a> -
                    <a th:href="@{/filter/status/interviewing}">interviewing</a>
                </div>


                <div>
                    <div>
                        <form action="#" th:action="@{/}" th:object="${filter}" method="post">
                            <div class="mb-2">
                                <label for="search">Search</label>
                                <input type="text" name="search" id="search" th:field="*{searchTerms}"
                                       th:value="*{searchTerms}"/>
                            </div>
                            <input type="submit" value="Search">
                        </form>
                    </div>

                    <div class="hidden">
                        For searches later on certain fields, we can automatically populate the search box as we type
                    </div>

                    <div class="hidden">
                        Saved filters preset list, a singular text input with a save button for saving presets
                        unless they already exist
                    </div>

                    <div class="hidden">A widget showing how many jobs, etc</div>
                    <div class="hidden">And to show me how far back I've gone, some stats about my progress for going
                        through things
                    </div>
                    <div class="hidden">
                        For dates, say "23 minutes ago" and such.
                    </div>
                    <div class="hidden">
                        Would be nice when we change status of job, it fetches new jobs into the list
                    </div>

                    <div class="hidden">
                        Add automatic filtering of country
                    </div>

                    <div class="hidden">
                        Add some additional filters to the titles page
                    </div>

                    <div class="hidden">
                        On titles page, when we click declined or interested, then disable to prevent double click
                    </div>

                    <div class="hidden">
                        An easy undo and redo functionality, like a stack
                    </div>

                </div>
            </div>
        </fieldset>
    </div>

        <div class="mb-7 jobs-found"
             th:text="${jobs.size() + ' ' + filter.getStatus() + ' jobs found'}">
        </div>


    <div class="job mb-28" th:each="job:${jobs}">
        <div class="mb-3">
            <a class="font-bold" th:href="${job.url}" th:text="${job.title}" target="_blank"></a>
        </div>
        <div class="mb-5">
            <span th:class="${'font-bold font-sans rounded-md px-1 py-1 ml-1 text-sm job\_\_status-' + job.status}"
                  th:text="${job.status}"></span>
        </div>

        <div class="mb-7">
           <span th:if="${job.status != 'new'}" class="change-status inline-block mr-2 btn-link"
                 th:data-id="${job.id}"
                 th:data-status="new"> new
           </span>
            <span th:if="${job.status != 'declined'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="declined"> declined
           </span>
            <span th:if="${job.status != 'interested'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="interested">interested
           </span>
            <span th:if="${job.status != 'later'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="later">later
           </span>
            <span th:if="${job.status != 'applied'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="applied"> applied
           </span>
            <span th:if="${job.status != 'interviewing'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="interviewing">interviewing
           </span>
            <span th:if="${job.status != 'rejected'}" class="change-status inline-block mr-2 btn-link"
                  th:data-id="${job.id}"
                  th:data-status="rejected"> rejected
           </span>
        </div>

        <div th:if="${!#strings.isEmpty(job.budget)}">
            <span class="font-bold">Budget: </span>
            <span th:text="${job.budget}"></span>
        </div>
        <div th:if="${!#strings.isEmpty(job.hourlyRange)}">
            <span class="font-bold">Hourly Range: </span>
            <span th:text="${job.hourlyRange}"></span>
        </div>
        <div>
            <span class="font-bold">Country: </span>
            <span th:text="${job.country}"></span>
        </div>
        <div>
            <span class="font-bold">Category: </span>
            <span th:text="${job.category}"></span>
        </div>
        <div>
            <span class="font-bold">Post Date: </span>
            <span th:text="${job.datetime}"></span>
        </div>
        <div class="mb-3">
            <span class="font-bold">Skills: </span>
            <span th:text="${job.skills}"></span>
        </div>

        <div class="mb-8" th:utext="${job.htmlDescription}"></div>
        <div>
            <hr>
        </div>
    </div>
</div>
</body>
<script>
    function decreaseJobsFound(jobsFoundText) {
        // find first non number character
        let firstBlank = jobsFoundText.indexOf(" ")
        let string = jobsFoundText.substring(0, firstBlank)
        return (parseInt(string) - 1) + jobsFoundText.substring(firstBlank)
    }

    let links = document.getElementsByClassName("change-status")
    for (let i in links) {
        let link = links[i]
        let id = link?.dataset?.id
        let status = link?.dataset?.status

        if (id === undefined || status === undefined)
            continue

        link.addEventListener("click", () => {
            fetch("/status/" + id + "/" + status,
                {
                    method: "POST",
                    headers: {
                        "X-CSRF-Token": "[[${_csrf.token}]]"
                    }
                }
            ).then(response => {
                if (response.status === 200) {
                    link.closest(".job").remove()
                    let jobsFoundDiv = document.getElementsByClassName("jobs-found").item(0)
                    jobsFoundDiv.innerText = decreaseJobsFound(jobsFoundDiv.innerText)
                }
            })
        })
    }
</script>
</html>
